
<div *ngIf="description != undefined">
    <h1>Company Name | Degree | Batch | Date | Location</h1>
    <div><Strong>About The Company : </Strong><div [innerHTML]="description.aboutTheCompany"></div></div>
    <div><Strong>Company Name : </Strong><div [innerHTML]="description.companyName"></div></div>
    <div><Strong>Company Web site : </Strong><div [innerHTML]="description.companyWebsite"></div></div>
    <div><Strong>Job Location : </Strong><div [innerHTML]="description.jobLocation"></div></div>
    <div><Strong>Position : </Strong><div [innerHTML]="description.position"></div></div>
    <div><Strong>Salary : </Strong><div [innerHTML]="description.salary"></div></div>
    <div><Strong>Event Date : </Strong><div [innerHTML]="description.eventDate"></div></div>
    <div><Strong>Last Date to Apply : </Strong><div [innerHTML]="description.lastDateToApply"></div></div>
    <div><Strong>Interview Venue : </Strong><div [innerHTML]="description.interviewVenue"></div></div>
    <div><Strong>Experience Required : </Strong><div [innerHTML]="description.experienceRequired"></div></div>
    <div><Strong>EligibilityCriteria : </Strong><div [innerHTML]="description.eligibilityCriteria"></div></div>
    <div><Strong>How To Apply : </Strong><div [innerHTML]="description.howToApply"></div></div>
    <div><Strong>Registration Link : </Strong><a  target="_blank" href="{{description.registrationLink}}">Apply Here </a></div>
    <div><Strong>Important Note : </Strong><div [innerHTML]="description.importantNote"></div></div>
</div>
<div class="horizontal-line-seperator"></div>
<div class="row">
    <div class="col-md-6">
        <!--<span class="glyphicon glyphicon-thumbs-up"></span>--> {{likeCount}} Likes
    </div>
    <div class="col-md-6"><div class="pull-right">{{commentCount}} Comments</div></div>
</div>
<div class="row">
    <div class="col-md-4">
        <app-likes [description]="description"></app-likes>
    </div>
    <div class="col-md-4" (click)="onFocusComment()" style="text-align:center;">
        <span class="glyphicon glyphicon-comment" style="top: 3px;position: relative;right: 4px;"></span> Comment
    </div>
    <div class="col-md-4"><div class="pull-right"><span class="glyphicon glyphicon-share-alt" style="top: 3px;position: relative;right: 4px;"></span>Share</div></div>
</div>
<app-comment></app-comment>