
<div *ngIf="description != undefined">
    <h1>Company Name | Degree | Batch | Date | Location</h1>


    <P><Strong>About The Company : </Strong>{{description.aboutTheCompany}}</P>
    <P><Strong>Company Name : </Strong>{{description.companyName}}</P>
    <P><Strong>Company Web site : </Strong>{{description.companyWebsite}}</P>
    <P><Strong>Job Location : </Strong>{{description.jobLocation}}</P>
    <P><Strong>Position : </Strong>{{description.position}}</P>
    <P><Strong>Salary : </Strong>{{description.salary}}</P>
    <P><Strong>Event Date : </Strong>{{description.eventDate}}</P>
    <P><Strong>Last Date to Apply : </Strong>{{description.lastDateToApply}}</P>
    <P><Strong>Interview Venue : </Strong>{{description.interviewVenue}}</P>
    <P><Strong>Experience Required : </Strong>{{description.experienceRequired}}</P>
    <P><Strong>EligibilityCriteria : </Strong>{{description.eligibilityCriteria}}</P>
    <P><Strong>How To Apply : </Strong>{{description.howToApply}}</P>
    <P><Strong>Registration Link : </Strong>{{description.registrationLink}}</P>
    <P><Strong>Important Note : </Strong>{{description.importantNote}}</P>
</div>
<div class="horizontal-line-seperator"></div>
<div class="row">
    <span class="glyphicon glyphicon-thumbs-up"></span> Like - {{description.likes.length}} / Comments - {{description.comments.length}}
</div>
<app-likes></app-likes><app-comments></app-comments>