
<div *ngIf="description != undefined">
    <h1>Company Name | Degree | Batch | Date | Location</h1>
    <P><Strong>About The Company : </Strong>{{description.aboutTheCompany}}</P>
    <P><Strong>Company Name : </Strong>{{description.companyName}}</P>
    <P><Strong>Company Web site : </Strong>{{description.companyWebsite}}</P>
    <P><Strong>Job Location : </Strong>{{description.jobLocation}}</P>
    <P><Strong>Position : </Strong>{{description.position}}</P>
    <P><Strong>Salary : </Strong>{{description.salary}}</P>
    <P><Strong>Event Date : </Strong>{{description.eventDate}}</P>
    <P><Strong>Last Date to Apply : </Strong>{{description.lastDateToApply}}</P>
    <P><Strong>Interview Venue : </Strong>{{description.interviewVenue}}</P>
    <P><Strong>Experience Required : </Strong>{{description.experienceRequired}}</P>
    <P><Strong>EligibilityCriteria : </Strong>{{description.eligibilityCriteria}}</P>
    <P><Strong>How To Apply : </Strong>{{description.howToApply}}</P>
    <P><Strong>Registration Link : </Strong>{{description.registrationLink}}</P>
    <P><Strong>Important Note : </Strong>{{description.importantNote}}</P>
</div>
<div class="horizontal-line-seperator"></div>
<div class="row">
    <div class="col-md-6">
        <!--<span class="glyphicon glyphicon-thumbs-up"></span>--> {{likeCount}} Likes
    </div>
    <div class="col-md-6"><div class="pull-right">{{commentCount}} Comments</div></div>
</div>
<div class="row">
    <div class="col-md-4">
        <app-likes [description]="description"></app-likes>
    </div>
    <div class="col-md-4" (click)="onFocusComment()" style="text-align:center;">
        <span class="glyphicon glyphicon-comment" style="top: 3px;position: relative;right: 4px;"></span> Comment
    </div>
    <div class="col-md-4"><div class="pull-right"><span class="glyphicon glyphicon-share-alt" style="top: 3px;position: relative;right: 4px;"></span>Share</div></div>
</div>
<app-comment></app-comment>