<!--<table class="table table-hover table-dark">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
        </tr>
    </tbody>
</table>-->
<div class="container-fluid">
    <div class="row">
        <div class="padding-10px col-md-6 col-sm-6 col-xs-12">
            <div class="card border-primary">
                <div class="card-header">Hello</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">Company Name</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <i class="fa fa fa-group">  1-2 yrs</i>
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-8">
                            <i class="fa fa-map-marker">  Hyderabad</i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-4"><small class="text-muted">Key Skills</small> </div>
                        <div class="col-md-8 col-sm-8 col-xs-8">Mata di</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-4"><small class="text-muted">Job Description</small> </div>
                        <div class="col-md-8 col-sm-8 col-xs-8">Mata di</div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <i class="fa fa-inr custom"></i>
                            <small class="text-muted"> 1,25,000 - 2,00,000 P.A.</small>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <small class="text-muted pull-right">Last updated 3 mins ago</small>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="padding-10px col-md-6 col-sm-6 col-xs-12 ">
            <div class="card border-primary">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div><div class="padding-10px col-md-6 col-sm-6 col-xs-12 ">
            <div class="card border-primary">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="padding-10px col-md-6 col-sm-6 col-xs-12 ">
            <div class="card border-primary">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div><div class="padding-10px col-md-6 col-sm-6 col-xs-12 ">
            <div class="card border-primary">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="padding-10px col-md-6 col-sm-6 col-xs-12 ">
            <div class="card border-primary">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div><div class="padding-10px col-md-6 col-sm-6 col-xs-12 ">
            <div class="card border-primary">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="padding-10px col-md-6 col-sm-6 col-xs-12 ">
            <div class="card border-primary">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div><div class="padding-10px col-md-6 col-sm-6 col-xs-12 ">
            <div class="card border-primary">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="padding-10px col-md-6 col-sm-6 col-xs-12 ">
            <div class="card border-primary">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div><div class="padding-10px col-md-6 col-sm-6 col-xs-12 ">
            <div class="card border-primary">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="padding-10px col-md-6 col-sm-6 col-xs-12 ">
            <div class="card border-primary">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div><div class="padding-10px col-md-6 col-sm-6 col-xs-12 ">
            <div class="card border-primary">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="padding-10px col-md-6 col-sm-6 col-xs-12 ">
            <div class="card border-primary">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div><div class="padding-10px col-md-6 col-sm-6 col-xs-12 ">
            <div class="card border-primary">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="padding-10px col-md-6 col-sm-6 col-xs-12 ">
            <div class="card border-primary">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>

    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
        <li [ngClass]="{disabled:pager.currentPage === 1}">
            <a (click)="setPage(1)">First</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === 1}">
            <a (click)="setPage(pager.currentPage - 1)">Previous</a>
        </li>
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
            <a (click)="setPage(page)">{{page}}</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a (click)="setPage(pager.currentPage + 1)">Next</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a (click)="setPage(pager.totalPages)">Last</a>
        </li>
    </ul>
</div>