<div class="recen-post">
    <h1 class="post-header">
        <span class="post-header-container">
            Recent Posts
        </span>
    </h1>
    <div class="post-body">
        <ul>
            <li>
                <a (click)="getDescription(1)">Recollect that Customer Details and Order 1</a>
            </li>
            <li>
                <a (click)="getDescription(2)">Recollect that Customer Details and Order 2</a>
            </li>
            <li>
                <a (click)="getDescription(3)">Recollect that Customer Details and Order 3</a>
            </li>
            <li>
                <a (click)="getDescription(4)">Recollect that Customer Details and Order 4</a>
            </li>
            <li>
                <a (click)="getDescription(5)">Recollect that Customer Details and Order 5</a>
            </li>
            <li>
                <a (click)="getDescription(6)">Recollect that Customer Details and Order 6</a>
            </li>
            <li>
                <a (click)="getDescription(7)">Recollect that Customer Details and Order 7</a>
            </li>
            <li>
                <a (click)="getDescription(8)">Recollect that Customer Details and Order 8</a>
            </li>
            <li>
                <a (click)="getDescription(9)">Recollect that Customer Details and Order 9</a>
            </li>
            <li>                
                <a (click)="getDescription(10)">Recollect that Customer Details and Order 10</a>
            </li>
            <li>
                <a (click)="getDescription(11)">Recollect that Customer Details and Order 11</a>
            </li>
            <li>
                <a (click)="getDescription(12)">Recollect that Customer Details and Order 12</a>
            </li>
        </ul>
    </div>
</div>