<div class="row footer">
	<div class="social-Media">
		<div class="footer-socialMedia">
			<div class="footer-socialMedia-text"> Connect socially with us</div>
			<div class="social-media-content">
				<ul class="footer-socialMedia-ul">
					<li class="footer-socialMedia-li"><a href="#" target="_blank"><span aria-hidden="true"><i class="fa fa-facebook" aria-hidden="true"></i></span><span class="sr-only">Facebook</span></a></li>
					<li class="footer-socialMedia-li"><a href="#" target="_blank"><span aria-hidden="true"><i class="fa fa-twitter" aria-hidden="true"></i></span><span class="sr-only">Twitter</span></a></li>
					<li class="footer-socialMedia-li"><a href="#" target="_blank"><span aria-hidden="true"><i class="fa fa-linkedin" aria-hidden="true"></i></span><span class="sr-only">LinkedIn</span></a></li>
					<li class="footer-socialMedia-li"><a href="#" target="_blank"><span aria-hidden="true"><i class="fa fa-youtube" aria-hidden="true"></i></span><span class="sr-only">Youtube</span></a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="horizontal-line-seperator">
	</div>
	<div class="copy-right-menu">
		<div class="copyright"><span>© 2018 SPA Job Portal</span></div>

		<div class="footer-menu">
			<div class="menu">
				<div class="menu-content"><a>Privacy Policy</a></div>
				<div class="menu-content"><a>Sitemap</a></div>
				<div class="menu-content"><a>Support</a></div>
			</div>
		</div>
	</div>
</div>