.popUp {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    max-width: 60vw;
    box-shadow: rgba(0,0,0,0.4) 0px 0px 18px 4px;
    transition: all 0.5s;
    display: block;
    position: fixed;
    background: #fff;
    z-index: 100015;
    width: 60%;
    cursor:default;
}

.divOverlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.4);
    z-index: 100014;
    display: none;
}

.popUp + .divOverlay {
    display: block;
}
.parent-title {
    color: black;
    width: 100%;
    background-color: #6495ed;
    padding: 10px;
    margin: 0px;
}
:host /deep/ .ql-editor {
    color: black !important;
}
:host /deep/ .ql-container {
    width: 95% !important;
    height: 200px !important;
    margin-left: 15px !important;
}

:host /deep/ .ql-toolbar.ql-snow {
    width: 95% !important;
    margin-left: 15px !important;
}
.btn-primary{
    margin-left: 15px;
}
.html-text-view {
    color: black;
    margin-left: 15px;
    min-height: 266px;
    max-height: 266px;
    overflow-y:auto;
}
.display-none{
    display:none;
}
.html-text-container{
    padding:15px;
}